@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Mate&family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
}

.container{
    width: 450px;
    background: #fff;
    border-radius: 8px;
}

.container h2{
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.175rem;
    border-bottom: 1px solid #dedbe5;
}

.wrapper{
    margin: 1.25rem 1.75rem;
}

.input-box input{
    width: 100%;
    height: 53px;
    color: #000;
    background: none;
    position: relative;
    font-size: 1.06rem;
    letter-spacing: 1.4px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 0 2.85rem 0 1rem;
}

.wrapper .input-box{
    position: relative;
}

.input-box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #707070;
}

.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    background: #dfdfdf;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}

.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3 ease;
}

.pass-indicator#weak::before{
    width: 20%;
    background: #E64A4A;
}

.pass-indicator#medium::before{
    width: 50%;
    background: #f1c80b;
}

.pass-indicator#strong::before{
    width: 100%;
    background: #4ae64a;
}

.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}

.pass-length .details{
    display: flex;
    justify-content: space-between;
}

.pass-length input{
    width: 100%;
    height: 5px;
}

.pass-settings .options{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 1rem;
}

.pass-settings .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
}

.options .option:first-child{
    pointer-events: none;
}

.options .option:first-child input{
    opacity: 0.7;
}

.options .option input{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label{
    cursor: pointer;
    padding-left: 0.63rem;
}

.wrapper .generate-btn{
    width: 100%;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    background: #3d3d3d;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}